<header>
  <app-topbar></app-topbar>
</header>
<content>
  <router-outlet></router-outlet>
</content>
<footer>
  <div class="row">
    <div class="col-md-6">
    <span><small>Adel Moral Arquitetura & Engenharia - <i class="far fa-registered"></i> 2002 - Todos os direitos reservados</small></span>
    </div>
    <div class="col-md-6">
          <span class="float-right">
            <small>Desenvolvido por <a style="color: lightcyan" href="http://www.thiagolucio.com.br" target="_blank">Thiago Lúcio</a></small>
          </span>
    </div>
  </div>
</footer>