header {
    margin-bottom: 24px;
    line-height: 100%;
    position: relative;
}
content {
    display: flex;
    position: relative;
    margin-top: 60px;
    min-height: calc(100vh - 120px); //-120 porque é 60 do margin-top mais 60 do rodape
    padding: 16px;
}
footer {
    bottom: 0;
    position: relative;
    padding: 16px;
    background: #C82333;
    height: 60px;
    color: azure;
}