/* You can add global styles to this file, and also import other style files */
body, html {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
a {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear
}

a:hover {
	text-decoration: none
}

a a:focus {
	outline: none
}